name: Build and Publish Multi-Arch Addon Images

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [amd64, aarch64, armv7, armhf, i386]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version from tag
        id: version
        run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./dachs_mqtt
          file: ./dachs_mqtt/Dockerfile
          platforms: linux/${{ matrix.arch }}
          push: true
          build-args: |
            BUILD_FROM=${{ matrix.arch == 'amd64' && 'ghcr.io/home-assistant/amd64-base-python:3.12' ||
                            matrix.arch == 'aarch64' && 'ghcr.io/home-assistant/aarch64-base-python:3.12' ||
                            format('ghcr.io/home-assistant/{0}-base:3.19', matrix.arch) }}

          tags: |
            ghcr.io/${{ github.repository }}/dachs_mqtt-${{ matrix.arch }}:${{ env.VERSION }}
            ghcr.io/${{ github.repository }}/dachs_mqtt-${{ matrix.arch }}:latest
